* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scrollbar-width: none;
  -moz-scrollbar-width: none;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.header.sticky {
  background-color: var(--bg-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;

}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background-size: cover;
  background-position: center;
}

.home-content {
  max-width: 60rem;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h1 span {
  color: var(--text-color);
}

.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}

.home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
}

.home-content p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box .btn:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  transition: 3s;
}

.home-imgHover:hover {
  background: var(--bg-color);
  opacity: 0.8;
}


.organigrama {
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;
}


.main-heading {
  padding-top: 80px;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}


.about-img {

  position: relative;
  max-width: 200px; 
  width: 100%;
  height: 200px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 0.3rem solid var(--main-color); /* Nuevo: Agregando un borde al contenedor */
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.circle-spin {
  position: absolute;
  overflow: visible;
  max-width: 300px;  
  top: 270px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 250px; 
  height: 250px;
  border-radius: 50%;
  border-top: 0.2rem solid var(--second-bg-color);
  border-bottom: 0.2rem solid var(--second-bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}



.about {
  background-color: #112e42;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  
}

.about-content {
  text-align: center;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 15px;
  
  
}

.about-content h3 {
  font-size: 2rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.left-column {
  flex: 1;
  margin-right: 20px; 
  padding: 10px;
}

.description{
  background-color: #081b29;
  border-radius: 20px;
  padding: 15px
}

.info-desc{
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 0.2rem solid var(--main-color);
}

.desc-heading {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #ffffff; 
  margin-bottom: 10px;
  margin-top: none;
}

.right-column {
  flex: 1;
  margin-left: 20px;
  
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background: var(--second-bg-color);
}


.education {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  padding: 0%;
  
}

.education h2 {
  
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #ffffff; 
  margin-bottom: 20px;
  margin-top: none;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}

.education-column{
  padding-top: 10px;
  background-color: #081b29;
  border-radius: 20px;
  padding: 15px;
}

.education-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
  border-left: 0.2rem solid var(--main-color);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-box .education-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.education-content .content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.education-content .content:hover::before {
  width: 100%;
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.education-content .content .year i {
  padding-right: 0.5rem;
}

.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.info-containter{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  padding: 20px;
  background-color: #081b29;
  border-radius: 20px;
}

.info-content{
  margin-top: 15px;
}
.content label {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

.content h3 {
  padding: 10px;
  margin-bottom: 10px;
  
}

.personasContacto h3{
  margin-bottom: 40px;
  font-size: 2.6rem;
}

.content input,
.content textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  
  border-radius: 4px;
}

.education-box .info-content {
  
  position: relative;
  padding-left: 2rem;
}

.education-box .info-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.info-content .content {
  margin-top: 15px;
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.info-content .content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.info-content .content:hover::before {
  width: 100%;
}

.info-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.info-content .content .year i {
  padding-right: 0.5rem;
}

.info-content .content h3 {
  font-size: 2rem;
}

.info-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.RH{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  padding: 20px;
  background-color: #081b29;
  border-radius: 20px;
}

.RH-info{
  margin-top: 15px;
}

.RH label{
  color: #00abf0;
  font-size: 2rem;
}

.RH input{
  border-radius: 20px;
  font-size: 2rem;
  margin-left: 10px;
}

.RH-archivo p{
  font-size: 15px;
  border-radius: 20px;
  font-weight: bold;
  border: 0.2rem solid var(--main-color);
  padding: 5px;
  margin-bottom: auto;
}


.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--second-bg-color);
  margin: 0 0 5rem;
  
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  
}

.skills-row .skills-column {
  flex: 1 1 40rem;
  margin: 0 0 5rem;
}

.skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 5rem;

}

.skills-box .skills-content {
  margin-top: 10px;
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.skills-box .skills-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0;
}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-color);
}

.skills-column{
  padding-top: 10px;
  background-color: #081b29;
  border-radius: 20px;
  padding: 15px;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 65%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 25%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 73%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 52%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 65%;
}



.contact {
  min-height: auto;
  padding-bottom: 7rem;
}

.contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}

.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box.btns .btn {
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
  background-color: #081b29;
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}

.footer-iconTop a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.footer-iconTop a:hover::before {
  width: 100%;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: 0.5s;
}

.footer-iconTop a:hover i {
  color: var(--main-color);
}


/* codigo - Carrusel */

.home-content{
  justify-content: center;
  align-items: center;
}

.gallery-container {
  position: absolute;
  bottom: 25rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 0;
  margin-left: 0;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 300px;
  height: 300px;
  animation: spin 50s linear infinite;
  transform: translate(-50%, -50%) perspective(1200px);
  transform-style: preserve-3d;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-right: 0;
  backface-visibility: hidden;
  transition: transform 0.5s;
  transform: translateZ(0);
  background: #081b29;
  box-shadow: none;
  border: none;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.button-container {
  position: absolute;
  bottom: 50px; /* Ajustar según tu preferencia */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 10px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  justify-content: center;
  background-color: #081b29;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button.prev::before,
.button.next::before {
  color: white;
  content: '';
  font-size: 40px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

.button.prev::before {
  content: '<';
}

.button.next::before {
  content: '>';
}

.boton-redireccion {
  color: #02a2e7;
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  cursor: pointer;
  background: #081b29;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


@media (max-width: 768px) {
  .gallery-container {
    margin-left: 0;
  }
  .button-container {
    bottom: 0; 
  }
}

/* Estilo - Organigrama*/
.centered-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  background-color: #f0f0f0;
  overflow: hidden;
}

.organigrama-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  box-sizing: border-box;
}

/* Estilos para el organigrama (manteniendo los estilos previos) */
.rd3t-link {
  stroke-width: 1px;
  stroke: white !important;
}

.rd3t-node {
  cursor: pointer;
  transition: transform 0.2s;
  user-select: none;
  fill: #081b29;
  stroke: #02a2e7;
  stroke-width: 2px;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
}

.rd3t-node circle {
  fill: #081b29;
  stroke: #02a2e7;
  stroke-width: 4px;
  r: 30px;
}

.rd3t-node:hover {
  fill: #02a2e7 !important;
  stroke: #02a2e7 !important;
  transition: 0.5s;
}

.rd3t-label__title {
  fill: white !important;
  font-size: 14px;
  text-align: center;
}

.rd3t-label__title:hover {
  fill: #02a2e7 !important;
}

.rd3t-label__attributes {
  fill: #02a2e7 !important;
  font-size: 14px;
  text-align: center;
}

.rd3t-leaf-node circle {
  fill: #081b29;
  stroke: #02a2e7;
  stroke-width: 1.5px;
  r: 20px;
}

.rd3t-leaf-node:hover {
  fill: #02a2e7 !important;
  stroke: #02a2e7 !important;
}

/* Estilos - CRUDS */

.CRUDS{
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 20px;
  border-radius: 10px; 
  overflow: hidden;
}

.table img{
  border: 4px solid #3498db;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



.table th, .table td {
  padding: 10px;
  text-align: center;
  border: 2px solid #02a2e7;
  border-radius: 15px;
}


.table th:first-child,
.table td:first-child {
  width: 5%; 
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 10%; 
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 10%; 
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 10%; 
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 10%; 
}

.table th:nth-child(6),
.table td:nth-child(6) {
  width: 10%; 
}

.table th:last-child,
.table td:last-child {
  width: 10%; 
}

.btn{
  margin-top: 15px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-bottom: 30px;
  margin-left: 0;
}

.btn:hover {
  color: var(--main-color);
}

.btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn:nth-child(2):hover {
  color: var(--bg-color);
}

.btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn btn-primary{
  margin-left: 50px;

}

.modal {
  
  width: 80%; 
  max-width: 600px;
  margin: 0 auto;
}

.modal-body {
  
  padding: 20px; 
}

.modal-header {
  
  background-color: #081b29; 
  
  padding: 10px 20px; 
  font-size: 30px;
  text-align: center; 
}


.modal-floating {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #081b29;
  padding: 20px;
  border: 1px solid #02a2e7;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:100%; 
  height: 100%;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
}

.form-group input {
  font-size: 15px;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 100%;
  transition: border-color 0.2s;
  border-color: #02a2e7;
}

.form-group input:focus {
  border-color: #02a2e7;
}

.form-group label {
  font-size: 15px;
  margin-bottom: 5px;
  color: #02a2e7;
}

.react-datepicker {
  background-color: #007bff; 
  color: #fff; 
  font-size: 18px;
  font-weight: bold;
  padding: 10px; 
  border-radius: 10px;
}

.react-datepicker-popper {
  margin-left: 300px;
  
}

.Personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #112e42;
}

.Personal h1 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.btn-direction{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 10%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-bottom: 50px;
  margin-left: 0;
}

.btn-direction:hover {
  color: var(--main-color);
}

.btn-direction:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-direction:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-direction:nth-child(2)::before {
  background: var(--main-color);
}

.btn-direction::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-direction:hover::before {
  width: 100%;
}

/*BREAKPOINTS*/
@media (max-width: 1200px){
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px){
  .header{
    padding: 2rem 4%;
  }
  
  section{
    padding: 10rem 4% 2rem;
  }
  .home{
    padding: 0 4%;
  }
  .footer{
    padding: 2rem 4%;
  }
} 

@media (max-width: 768px){
  .header{
    background: var(--bg-color);
  }
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    z-index: 1;
    transition: .25s ease;
    transition-delay: .25s;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0;
  }
  
  .navbar .active-nav {
    position: absolute;
    top:0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    z-index: -1;
    transition: .25s ease;
    transition-delay: 0s;
  }

  .navbar.active .active-nav{
    left: 0;
    transition-delay: .25s;
    
  }

  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition-delay:0;
  }
  .navbar.active a{
    transform: translateX(0);
    transition-delay: .25s;
  }
}





/* Estilos - Login */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.password-input {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}


.password-toggle {
  background-color: transparent;
  border: none;
  color: #00abf0;
  cursor: pointer;
  
}
.login-container h2{
  text-align: center;
  font-size: 3rem; /* Ajusta el tamaño del texto según tus preferencias */
  color: transparent; /* Ocultar el color original del texto */
  -webkit-text-stroke: 1px #00abf0; /* Contorno del texto en blanco (ajusta el grosor según tus preferencias) */
  text-stroke: 1px #00abf0;
  margin-bottom: 50px;
}
.modal-floating   h2 {
  text-align: center;
  font-size: 3rem; /* Ajusta el tamaño del texto según tus preferencias */
  color: transparent; /* Ocultar el color original del texto */
  -webkit-text-stroke: 1px #00abf0; /* Contorno del texto en blanco (ajusta el grosor según tus preferencias) */
  text-stroke: 1px #00abf0;
  margin-bottom: 50px;
}

.fa-eye-slash {
  margin-left: 15px;
  font-size: 20px; /* Cambia el tamaño del ícono, ajusta según tus necesidades */
  /* Agrega otros estilos según sea necesario */
}

.fa.fa-eye{
  margin-left: 15px;
  font-size: 20px;
}

.inputEmpleados{
  font-size: 10px;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 100%;
  transition: border-color 0.2s;
  border-color: #02a2e7;
  max-width: 30%;
}


/*Parte de formulario de agregar*/

.form-item h2{
  margin-top: 1px;
  margin-bottom: 3px;
}
.form-item label{
  bottom: 10px;
  font-weight: bold;
}

.form-item button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-left: 19px;
}


.form-item{
  width: 300px;
  align-items: center;
}

.form-tabla {
  border-collapse: collapse;
  border: none;
  width: 50%; 
  margin: 0 auto; 
}

.form-tabla th, .form-tabla td {
  border: none;
  padding: 8px;
  text-align: center;
}
.foto.form-item {
  text-align: center;
  width: 600px;
}

/*Pantalla de carga*/

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  animation: animate 1.2s ease-in-out infinite;
}

@keyframes animate {
  0%, 10%, 100% {
    height: 40px;
    width: 40px;
  }
  65% {
    height: 70px;
    width: 70px;
  }
}

.span1, .span2, .span3, .span4 {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  animation: rotate 1.2s linear both infinite;
}

@keyframes rotate {
  0%, 30% {
    transform: rotate(0);
  }
  65% {
    transform: rotate(-40deg);
  }
}

.span1 {
  top: 0;
  left: 0;
  background: #1ac9ff;
}

.span2 {
  top: 0;
  right: 0;
  background: white;
}

.span3 {
  bottom: 0;
  left: 0;
  background: white;
}

.span4 {
  bottom: 0;
  right: 0;
  background: #1ac9ff;
}

/*Formulario Para personal*/

.EditarPersonal{
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
  background: none;
  color: white;
  margin: .5rem;
  display: inline-block;
  width: 90%;
}
.EditarEducacion{
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
  background: none;
  color: white;
  margin: .5rem;
  display: inline-block;
  width: 300px;
}


/*Carga de habilidades*/

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--second-bg-color);
  margin: 0 0 5rem;
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
  margin: 0 0 5rem;
}

.skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 5rem;

}

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.skills-box .skills-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0;
}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress-bar-container{
  background-color: #081b29;
  border: 0.2rem solid var(--main-color);
  border-radius: 1rem;
  margin-top: 10px;
  position: relative;

}

.skills-content .progress .bar {
  height: 2rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.5rem;
  margin: 1rem 0;
  margin-left: 5px;
  transition: 0.5s;
  background-color: #02a2e7;
  width: calc(100% - 10px);
  position: relative;
  max-width: 99%;
  
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-color);
  position: relative; 
  
  
 
}

.skill-range {
  -webkit-appearance: none; 
  width: 100%;
  height: 1.2rem; 
  background: transparent; 
  margin: 0; 
  margin-top: 8px;
  margin-bottom: 0%;
}

.skill-range:focus {
  outline: none; 
}

.skill-range::-webkit-slider-runnable-track {
  width: 100%; 
  height: 0.5rem; 
  cursor: pointer;
  background: #112e42; 
  border-radius: 0.6rem; 
}

.skill-range::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 1.5rem; 
  height: 1.5rem; 
  background: var(--main-color); 
  border: 0.2rem solid var(--main-color); 
  border-radius: 50%; 
  cursor: pointer; 
  margin-top: -0.6rem; 
}

.skill-range::-moz-range-track {
  width: 100%;
  height: 0.5rem; 
  cursor: pointer;
  background: var(--bg-color); 
  border-radius: 0.6rem; 
}

.skill-range::-moz-range-thumb {
  width: 1.5rem; 
  height: 1.5rem;
  background: var(--main-color); 
  border: 0.2rem solid var(--main-color); 
  border-radius: 50%; 
  cursor: pointer; 
  margin-top: -0.6rem; 
}

.skill-range::-ms-track {
  width: 100%; 
  height: 0.5rem; 
  background: var(--bg-color); 
  border-radius: 0.6rem; 
}

.skill-range::-ms-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--main-color); 
  border: 0.2rem solid var(--main-color); 
  border-radius: 50%; 
  cursor: pointer;
  margin-top: -0.6rem;
}

.redes-sociales-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #081b29;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-media-row {
  
  align-items: center;
  justify-content: space-between;
  
  flex-wrap: wrap;
  gap: 20px;
}

.heading {
  font-size: 20px;
  color: #ffffff;
}


.social-media-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-media-content select{
  appearance: none;
  margin-top: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #02a2e7;
  color: #ffffff;
  border-radius: 5px;
  background-color: #081b29;
  cursor: pointer;
  outline: none;
}

.social-media-content h2{
  display: flex;
  padding: 20px;
}


.post-socialmedia{
  margin-top: 15px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.Nombre-Redsocial p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;  
}

.redes-sociales-cont {
  margin-top: 10px;
  padding: 10px;
  box-shadow: none;
  gap: 30px; 
  border: 0.2rem solid var(--main-color);
  border-radius: 5px;   
}

.red-social-link {
  text-decoration: none;
  color: inherit;
}


.red-social-item {
  opacity: 0;
  transform: translateY(20px);
  display: flex;
  animation: fadeInUp 0.5s forwards ease-in-out;
  
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.red-social-icon {
  margin-right: 15px !important;
  bottom: none !important;
  width: 60px;
  height: 60px;
  fill: white;
}


.nombre-red-social {
  font-size: 20px !important;
  color: white; 
}

.nombre-red-social p  {
  margin-top: 500px !important;
  color: red;
}

.expediente-clinico{
  margin-top: 15px;
  min-height: auto;
  padding-bottom: 5rem;
  padding: 10px;
  background-color: #081b29;
  border-radius: 20px;
    
}

.expediente-clinico h2{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}

.expediente-clinico label{
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
}

.expediente-clinico img{
  visibility: hidden;
}

.expediente-clinico select{
  appearance: none;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px;
  border: 2px solid #02a2e7;
  color: #ffffff;
  border-radius: 5px;
  background-color: #081b29;
  cursor: pointer;
  outline: none;
  max-width: 90%;
}

.expediente-clinico button{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-left: 19px;
  margin-top: 15px ;
}



.expediente-clinico h3{
  font-size: 20px;
  color: #fff;
}

.expediente-clinico-content{
  padding-left: 10px;
  border: 0.2rem solid var(--main-color);
  margin-top: 15px;
  display: flex;
  align-items: first baseline;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
}

.expediente-clinico-archivo p{
  font-size: 15px;
  border-radius: 20px;
  font-weight: bold;
  border: 0.2rem solid var(--main-color);
  padding: 5px;
  margin-bottom: auto;
}

.RH-archivo button{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-left: 19px;
  margin-top: 20px;
}

.rh-select-archivo button{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-left: 19px;
  margin-top: 15px ;
}

.rh-select-archivo img{
  visibility: hidden;
}

.RH-content .content{
  border-radius: 5px;
  border: 0.2rem solid var(--main-color);
  padding: 10px;
}

.RH-content .content input{
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
  background: none;
  color: white;
  margin: 0.5rem;
  display: inline-block;
  width: 90%;

}

.RH-content label{
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.personasContacto{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  padding: 20px;
  background-color: #081b29;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
}

.personasContacto h3{
  margin-bottom: 20px;
}

.personasContacto-content{
  border-radius: 5px;
  border: 0.2rem solid var(--main-color);
  padding: 10px;
}

.personasContacto-content label{
  display: flex;
  margin-bottom: 40px;
  padding: 15px;
}



